<h1>Welcome to Harry's fine foods!</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <div class="thumbnail">
        <img src="..." alt="A photo  of artisinal bread">
        <div class="caption">
          <h3>Quality you Can taste</h3>
          <p>At Mario's Fine foods we take pride in our high quality products. All the foods we carry are made from high quality, local ingredients. Browse our line of new products and see for yourself!</p>
          <p><a href="/products" class="btn btn-primary" role="button">See Products</a>
        </div>
      </div>
    </div>
    <div class="col-sm-5 well">
      <h2>Hot New Products:</h2>
          <%Product.most_reviews.each do |product|%>
            <%= link_to product.name, product_path(product)%>
            <br>
          <% end %>
    </div>
  </div>
</div>
