<div class="container">
  <h1>Welcome to Mario's Specialty Foods</h1>

  <h4>Check out our products:</h4>
  <div class="row">
    <div class="col-sm-6">
      <ul>
        <% @products.each do |product| %>
        <li><%= link_to product.name, product_path(product) %>
        <%= link_to "Edit", edit_product_path(product) %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-6">
      <%= link_to "Add A Product", new_product_path %>
    </div>
  </div>
</div>
